.intro-container{
    display: flex;
    margin: 100px;
    background-color:rgba(229, 84, 115, 0.10);
    ;

    padding: 20px;
    
}
.flower{
    height: 800px;
    width: 635px;
}
.first-intro{
    margin-top: 220px;
}
.btn{
    color: #fbf9f9;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

border-radius: 8px;
background: #E55473;
}
.featured{
    text-align: center;
    
}
.image{
    display: flex;
    margin-left: 50px;
    text-align: center;
    border:1px solid gray ;
}
.images1{
    display: flex;
    margin-top: 150px;
    text-align: center;
    justify-content: space-around;
    padding-inline: 0px;
flex-shrink: 0;
border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin-left: 100px;
margin-right: 100px;
}
.hot-section{
    display: flex;
    margin: 100px;
    padding: 20px ;
}
.scn-intro{
    margin-top: 200px;
}
.images2{
    display: flex;
    margin: 100px;
    
width: 300px;
height: 300px;
justify-content: space-between;

}
.images4{
    display: flex;
    justify-content: space-between;
    margin: 150px;
}


.back{
    background-image: url(./images/Rectangle\ 9.png);
    width: 1250px;
height: 420px;
flex-shrink: 0;
margin: 50px;
}
.form1{
    text-align: center;
    margin-top: 200px ;
    

}
.foot{
    background-color: black;
    color: white;
    height: 300px ;
    width: 1250px;
    margin:50px
}