body {
  margin: 0;
}
/* Common */

.btn {
  color: #fbf9f9;
  background: #e55473;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.details {
  text-align: center;
  color: #585454;
  margin-bottom: 50px;
}

/* Header section */
.intro-container {
  display: flex;
  margin: 0 0 50px 0;
  background-color: #e554731a;
  height: 100vh;
}

.right {
  width: 50%;
  display: flex;
  align-items: end;
}

.left {
  width: 50%;
  padding: 0 100px;
  margin: auto;
}

.left > h1 {
  font-size: 60px;
}

.left > p {
  font-size: 14px;
  color: #4a4949;
}

/*  Featured Section */

.featured-images {
  display: flex;
  height: 60vh;
  margin: 0 150px;
  text-align: center;
}

.featured-images > div {
  width: 33.33%;
  border-radius: 50% 50% 0 0;
  padding-top: 90px;
  margin: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.flowers-name-container {
  margin: 0 150px;
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  font-size: 18px;
}

.bg-1 {
  background-color: #f1dde7;
}
.bg-2 {
  background-color: #d9eff0;
}
.bg-3 {
  background-color: #e3ebdb;
}

/* Services */

.services {
  display: flex;
  margin: 120px 150px;
  justify-content: space-around;
  border-radius: 8px;
  background: #2727270d;
  padding: 30px;
}
.services > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services img {
  width: 55px;
}

/* Hot Deal section */
.hot-section {
  display: flex;
  background-color: #e26f881a;
  padding: 50px 200px;
}
.scn-intro {
  margin: auto;
  text-align: center;
}

/* Instagram images section */
.instagram-images {
  display: flex;
  margin: 0 150px;
  justify-content: space-between;
}
.instagram-images > div {
  width: 25%;
  margin: 10px;
}

/* Subscriptions section */
.subscriptions-con {
  background-image: url(./images/Rectangle\ 9.png);
  height: 300px;
  margin: 50px 150px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.email {
  border: none;
  background-color: white;
  width: 400px;
  padding: 13px;
  border-radius: 5px;
}

/* Footer section */
.footer {
  background-color: rgb(19, 17, 17);
  color: white;
  /* height: 250px; */
  text-align: center;
  padding: 60px 0;
}
.footer-content {
  color: rgb(195, 195, 195);
}
.copyright {
  margin: 10px;
  color: gray;
}

.social-media-images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-images > div {
  margin: 10px;
}
.social-media-images img {
  cursor: pointer;
}

.more-info {
  background-color: #e3ebdb;
  margin-left: 50px;
  margin-right: 50px;
}
.hot-section > p {
  font-size: 9px;
  color: rgba(202, 199, 199, 0.6);
}
.featured-cls > p {
  font-size: 15px;
}
.more-info > p {
  font-size: 14px color rgba(117, 116, 116, 0.6);
}
.off {
  color: #cc5050;
}
